@{
	ViewData["Title"] = "Index";
}
<main role="main">
	<div class="inline" style="padding: 5%;">
		<form asp-controller="Home" asp-action="SearchResults" class="form-inline">
			<input class="form-control mr-sm-2" type="search" name="searchString" placeholder="Search Recipes" aria-label="Search" style="width: 90%">
			<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
		</form>
		<br /><br />
		<p>
			<a asp-action="CreateRecipe"><button class="btn btn-default">Add New Recipe</button></a>
		</p>
	</div>

	<div class="album py-5 bg-light">
		<div class="container">
			<div class="row" id="cardContainer">

			</div>
		</div>
	</div>

</main>

@section Scripts
	{
	<environment include="Development">
		<script src="~/js/index.js" asp-append-version="true"></script>
	</environment>
	<environment exclude="Development">
		<script src="~/js/index.min.js" asp-append-version="true"></script>
	</environment>
}